<div class="header">
  <h1 class="name">Name: {{ user.firstName }} {{ user.lastName }}</h1>
  <h1 class="credit">Credits: {{ user.credit }} $</h1>
</div>
<br />
<h1>My Images</h1>

<!-- <input type="file" (change)="onFileSelected($event)" /> -->
<div
  *ngIf="images$ | async as images"
  style="
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  "
>
  <ng-container *ngIf="images.length > 0">
    <div *ngFor="let image of images">
      <div class="card" style="width: 20rem">
        <a [href]="image.url">
          <img [src]="image.url" class="card-img-top" [alt]="image.title" />
        </a>
        <div class="card-body">
          <h3 class="card-title">Title: {{ image.title }}</h3>
          <h3 class="card-title">Price: {{ image.price }} $</h3>
          <ng-container *ngIf="image.discount">
            <h3 class="card-title">Discount: {{ image.discount }} $</h3>
            <h3 class="card-title">
              Price after discount:
              {{ (image.price - image.discount).toFixed(2) }} $
            </h3>
          </ng-container>
          <h3 *ngIf="image.purchased" class="card-title">PURCHASED</h3>
          <div style="display: flex; justify-content: space-between">
            <button class="btn btn-primary" (click)="openDialog(image)">
              Edit
            </button>
            <button class="btn btn-danger" (click)="deleteImage(image._id)">
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
