.name {
  font-size: 1.5rem;
}
.credit {
  color: #5ba66e;
  font-weight: 600;
  font-size: 1.5 rem;
}
.badge{
    background-color: #5ba66e;
    height:20px
}
.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 25px;
}
.card:hover {
  display: relative;
  bottom: 10px;
}

@media only screen and (max-width: 600px) {
  .card {
    width: 70vw !important;
  }
  .name {
    font-size: 18px;
  }
  .credit {
    font-size: 10px;
  }
}
