<div *ngIf="user$ | async as user">
  <div>Name: {{ user.firstName }} {{ user.lastName }}</div>
  <div>Credits: {{ user.credit }} $</div>
</div>
<br />
<h1>My Images</h1>

<!-- <input type="file" (change)="onFileSelected($event)" /> -->
<div
  *ngIf="images$ | async as images"
  style="
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  "
>
  <ng-container *ngIf="images.length > 0">
    <div *ngFor="let image of images">
      <div class="card" style="width: 20rem">
        <img [src]="image.url" class="card-img-top" alt="..." />
        <div class="card-body">
          <h3 class="card-title">Title: {{ image.title }}</h3>
          <h3 class="card-title">Price: {{ image.price }}</h3>
          <h3 *ngIf="image.purchased" class="card-title">
            PURCHASED
          </h3>
          <div style="display: flex; justify-content: space-between">
            <a href="#" class="btn btn-primary">Delete</a>
            <a href="#" class="btn btn-primary">Edit</a>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
