.signup-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: flex-start;
  input {
    margin: 20px 0;
  }
  button {
    width: 100px;
    margin-bottom: 30px;
  }
}
.header {
  margin: 30px;
  width: 100%;
  text-align: center;
  h3 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 600px) {
  .signup-page {
    grid-template-columns: 1fr;
  }
}
