<div class="header"></div>
<div class="signup-page">
  <div style="width: 40%; justify-self: center">
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
      <h1>Login</h1>
      <div>
        <label for="name"> Email </label>
        <input
          required
          class="form-control"
          id="email"
          type="text"
          formControlName="email"
        />
      </div>

      <div>
        <label for="password"> Password </label>
        <input
          required
          minlength="3"
          class="form-control"
          id="password"
          type="password"
          formControlName="password"
        />
      </div>

      <button
        [disabled]="checkoutForm.invalid"
        type="button"
        class="btn btn-dark"
        type="submit"
      >
        Login
      </button>
    </form>
  </div>
  <div style="width: 40%; justify-self: center">
    <form [formGroup]="signupForm" (ngSubmit)="signup(signupForm.value)">
      <h1>Sign up</h1>
      <div>
        <label for="email"> Email </label>
        <input
          required
          class="form-control"
          id="email"
          type="text"
          formControlName="email"
        />
      </div>
      <label for="firstName"> First Name </label>
      <input
        required
        class="form-control"
        id="firstName"
        type="text"
        formControlName="firstName"
      />
      <label for="lastName"> Last Name </label>
      <input
        required
        required="required"
        class="form-control"
        id="lastName"
        type="text"
        formControlName="lastName"
      />

      <div>
        <label for="password"> Password </label>
        <input
          required
          minlength="3"
          class="form-control"
          id="password"
          type="password"
          formControlName="password"
        />
      </div>

      <button
        type="button"
        class="btn btn-dark"
        type="submit"
        [disabled]="signupForm.invalid"
      >
        Sign Up
      </button>
      <h3>{{ error }}</h3>
    </form>
  </div>
</div>
