.signup-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: flex-start;
  gap: 5%;
  input {
    margin: 20px 0;
  }
  button {
    width: 100px;
    margin-bottom: 30px;
  }
}
form {
  width: 100%;
}
.header {
  margin-top: 30px;
  margin-bottom: 50px;
  width: 100%;
  text-align: start;
  font-size: 2.5rem;
  line-height: normal;

  h3 {
    font-size: 3rem;
  }
}
.subheader {
  font-size: 1.5rem;
  margin-top: 0;
  width: 100%;
}

.subheader2 {
  font-size: 1rem;
  margin-top: 10px;
  width: 100%;
}
.form {
  justify-self: start;
}
.form2 {
  justify-self: end;
}

@media only screen and (max-width: 600px) {
  .signup-page {
    grid-template-columns: 1fr;
  }
  .form {
    justify-self: center;
  }
  .form2 {
    justify-self: center;
  }
}
