<div class="header">
  Welcome to Not Just a Gallery
  <div class="subheader" style="text-align: start">
    A marketplace to <b>store</b>, <b>sell</b> and <b>buy</b> images.
  </div>
  <div class="subheader2" style="text-align: start; color: rgb(0, 119, 89)">
    New users will get 200$ to trade
  </div>
</div>
<div class="signup-page">
  <div style="width: 90%; justify-self: center">
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
      <h1>Login</h1>
      <div>
        <label for="name"> Email </label>
        <input
          required
          class="form-control"
          id="email"
          type="text"
          formControlName="email"
        />
      </div>

      <div>
        <label for="password"> Password </label>
        <input
          required
          minlength="3"
          class="form-control"
          id="password"
          type="password"
          formControlName="password"
        />
      </div>

      <button
        [disabled]="checkoutForm.invalid || disableLogin"
        type="button"
        class="btn btn-dark"
        type="submit"
      >
        Login
      </button>
      <div
        *ngIf="disableLogin"
        class="spinner-grow text-primary"
        style="margin-left: 20px; position: relative; bottom: 5px"
        role="status"
      >
        <span class="visually-hidden">Loading...</span>
      </div>
    </form>
  </div>
  <div style="width: 90%; justify-self: center">
    <form [formGroup]="signupForm" (ngSubmit)="signup(signupForm.value)">
      <h1>Sign up</h1>
      <div>
        <label for="email"> Email </label>
        <input
          required
          class="form-control"
          id="email"
          type="text"
          formControlName="email"
        />
      </div>
      <label for="firstName"> First Name </label>
      <input
        required
        class="form-control"
        id="firstName"
        type="text"
        formControlName="firstName"
      />
      <label for="lastName"> Last Name </label>
      <input
        required
        required="required"
        class="form-control"
        id="lastName"
        type="text"
        formControlName="lastName"
      />

      <div>
        <label for="password"> Password </label>
        <input
          required
          minlength="3"
          class="form-control"
          id="password"
          type="password"
          formControlName="password"
        />
      </div>

      <button
        type="button"
        class="btn btn-dark"
        type="submit"
        [disabled]="signupForm.invalid || disableSignup"
      >
        Sign Up
      </button>
      <div
        *ngIf="disableSignup"
        class="spinner-grow text-primary"
        style="margin-left: 20px; position: relative; bottom: 5px"
        role="status"
      >
        <span class="visually-hidden">Loading...</span>
      </div>
      <h3>{{ error }}</h3>
    </form>
  </div>
</div>
