<h1>Purchased Images</h1>
<div
  *ngIf="images$ | async as images"
  style="
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  "
>
  <ng-container *ngIf="images.length > 0">
    <div *ngFor="let image of images">
      <div class="card" style="width: 20rem">
        <a [href]="image.url">
          <img [src]="image.url" class="card-img-top" [alt]="image.title" />
        </a>
        <div class="card-body">
          <h3 class="card-title">Title: {{ image.title }}</h3>
          <h3 class="card-title">Price: {{ image.price }} $</h3>
          <ng-container *ngIf="image.discount">
            <h3 class="card-title">Discount: {{ image.discount }} $</h3>
            <h3 class="card-title">
              {{ (image.price - image.discount).toFixed(2) }} $
            </h3>
          </ng-container>
        </div>
      </div>
    </div>
  </ng-container>
</div>
