<h1>My Images</h1>
<div
  *ngIf="images$ | async as images"
  style="
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  "
>
  <ng-container *ngIf="images.length > 0">
    <div *ngFor="let image of images">
      <div class="card" style="width: 20rem">
        <img [src]="image.url" class="card-img-top" alt="..." />
        <div class="card-body">
          <h3 class="card-title">Title: {{ image.title }}</h3>
          <h3 class="card-title">Price: {{ image.price }}</h3>
          <div style="display: flex; justify-content: space-around">
            <a href="#" class="btn btn-primary">Buy</a>
            <!-- <a href="#" class="btn btn-primary">Edit</a> -->
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
