.name {
  font-size: 1.5rem;
}
.credit {
  color: #5ba66e;
  font-weight: 600;
  font-size: 1.5 rem;
}
.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 25px;
}
