<h1>My Images</h1>
<!-- <input type="file" (change)="onFileSelected($event)" /> -->
<input
  name="file"
  type="file"
  (change)="onFileSelected($event)"
  class="file-upload"
  data-cloudinary-field="image_id"
  data-form-data="{ 'transformation': {'crop':'limit','tags':'samples','width':3000,'height':2000}}"
/>

<button
  type="button"
  class="btn btn-dark"
  (click)="onUpload()"
  [disabled]="selectedFile == null"
>
  Upload
</button>
<div
  *ngIf="images$ | async as images"
  style="
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  "
>
  <div *ngFor="let image of images">
    <div class="card" style="width: 20rem">
      <img [src]="image.url" class="card-img-top" alt="..." />
      <div class="card-body">
        <h3 class="card-title">Title: {{ image.title }}</h3>
        <h3 class="card-title">Price: {{ image.price }}</h3>
        <div style="display: flex; justify-content: space-around">
          <a href="#" class="btn btn-primary">Buy</a>
          <!-- <a href="#" class="btn btn-primary">Edit</a> -->
        </div>
      </div>
    </div>
  </div>
</div>
