<div *ngIf="user$ | async as user">
  <div>Credits: {{ user.credit }} $</div>
</div>
<h1>Images for sale</h1>
<!-- <input type="file" (change)="onFileSelected($event)" /> -->
<div
  *ngIf="images$ | async as images"
  style="
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  "
>
  <ng-container *ngIf="images.length > 0">
    <div *ngFor="let image of images">
      <div class="card" style="width: 20rem">
        <img [src]="image.url" class="card-img-top" alt="..." />
        <div class="card-body">
          <h3 class="card-title">Title: {{ image.title }}</h3>
          <h3 class="card-title">Price: {{ image.price }} $</h3>
          <ng-container *ngIf="image.discount">
            <h3 class="card-title">Discount: {{ image.discount }} $</h3>
            <h3 class="card-title">
              {{ (image.price - image.discount).toFixed(2) }} $
            </h3>
          </ng-container>
          <div style="display: flex; justify-content: space-around">
            <a class="btn btn-primary" (click)="buyImage(image._id)">Buy</a>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
