<nav class="navbar-dark bg-dark" style="height: 75px">
  <ul>
    <li>
      <a
        class="nav-link active"
        aria-current="page"
        href=""
        style="color: white"
        >Home</a
      >
    </li>
    <li>
      <a
        class="nav-link active"
        aria-current="page"
        href="purchased"
        style="color: white"
        >Purchased Images</a
      >
    </li>
    <li>
      <a class="nav-link" href="profile" style="color: white">Profile</a>
    </li>
    <li>
      <a class="nav-link" href="upload" style="color: white">Upload Images</a>
    </li>
    <li class="nav-item">
      <a
        href="#"
        class="nav-link"
        tabindex="-1"
        aria-disabled="true"
        (click)="logout()"
        style="color: red"
        >log out</a
      >
    </li>
  </ul>
</nav>
