<nav class="navbar navbar-dark bg-dark">
  <!-- Navbar content -->

  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" tabindex="-1" aria-disabled="true" (click)="logout()"
        >log out</a
      >
    </li>
  </ul>
</nav>
